@font-face
  font-family 'Muller'
  src url('../fonts/Muller/MullerRegular.otf')

@font-face
  font-family 'Muller Medium'
  src url('../fonts/Muller/MullerMedium.otf')

@font-face
  font-family 'Muller Bold'
  src url('../fonts/Muller/MullerBold.otf')
