footer.footer
    .footer__top
        .container
            .footer__logo-address
                .footer__logo
                    a.logo(href='/')
                .footer__address
                    span
                    | 353440, Россия, Краснодарский край,
                    br
                    | г. Анапа, проспект Революции, д.3, оф. №5

            .footer__contacts
                .footer__phone
                    a(href='tel:+78003338960') 8 800 333 89 60
                .footer__social
                    a.social.social_vk(href='#')
                    a.social.social_ok(href='#')
                    a.social.social_fb(href='#')
    .footer__bottom
        .container
            .footer__copy.copy
                span.copy__year 2018.&nbsp;
                span.copy__text Atlas Hotel Management
            .footer__privacy-link
                a(href='#') Политика конфиденциальности

