footer.footer
    .footer__top
        .container
            .footer__logo-address
                .footer__logo
                    a.logo(href='/')
                .footer__address 353440, Россия, Краснодарский&nbsp;край, #[br] г.&nbsp;Анапа, проспект&nbsp;Революции, д.3, оф.&nbsp;№5

            .footer__contacts
                .footer__phone
                    a(href='tel:+78003338960') 8 800 333 89 60
                .footer__social
                    a.social.social_vk(href='#')
                    a.social.social_ok(href='#')
                    a.social.social_fb(href='#')
    .footer__bottom
        .container
            .footer__copy.copy
                span.copy__year 2018.&nbsp;
                span.copy__text Atlas Hotel Management
            .footer__privacy-link
                a(href='#') Политика конфиденциальности

.popup.popup_callback.js-callback
    .popup__overlay
        .popup__wrap
            .contacts-form
                .contacts-form__heading Свяжитесь с нами:
                .contacts-form__hint Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                form.contacts-form__form
                    .contacts-form__list.js-callback-form
                        input(type='text' placeholder='Ваше имя').js-callback-name
                        input(type='text' placeholder='Телефон').js-callback-phone
                        input(type='text' placeholder='E-mail').js-callback-email
                        textarea(placeholder='Комментарий').js-callback-text
                    .contacts-form__privacy Нажимая кнопку вы соглашаетесь на обработку персональных данных
                    button.btn.btn_green.js-callback-send Написать
            .popup__close.js-callback-close

