header.header

    .header__logo
        a.logo(href='/')
    .header__menu.menu
        .menu__list
            .menu__item(class= pageClass === "index" ? "menu__item_active":"")
                a(href='/') Главная
            .menu__item(class= (pageClass === "company" || pageClass === "mission" || pageClass === "team") ? "menu__item_active":"")
                a(href='/company.html') Компания
            .menu__item(class= pageClass === "owners" ? "menu__item_active":"")
                a(href='/owners.html') Владельцам
            .menu__item
                a(href='/services.html') Услуги
            .menu__item
                a(href='#') Портфолио
            .menu__item
                a(href='#') Контакты
    .header__phone.phone
        .phone__text
            a(href='tel:+78003338960') 8 800 333 89 60
        .phone__btn
            a.btn Обратный звонок

