header.header

    .header__logo
        img(src='static/img/general/logo.png')
    .header__menu.menu
        .menu__list
            .menu__item
                a(href='#') Главная
            .menu__item
                a(href='#') Компания
            .menu__item
                a(href='#') Владельцам
            .menu__item
                a(href='#') Услуги
            .menu__item
                a(href='#') Портфолио
            .menu__item
                a(href='#') Контакты
    .header__phone.phone
        .phone__text
            a(href='tel:+78003338960') 8 800 333 89 60
        .phone__btn
            a.btn Обратный звонок

