.sidebar
    .sidebar__top
        .sidebar__heading
            span #{parentSection}
    .sidebar__middle
        block sidebar
    .sidebar__bottom
        a(href='#').sidebar__back.back
            span.arrow.arrow_prev.arrow_small.back__arrow
            span.back__text Назад



