.title
  background-color: gray_light2
  border-bottom: 1px solid #e1e1e1
  padding: 35px 0 25px

  @media screen and (max-width: 1200px)
    padding: 40px 40px 35px

  @media screen and (max-width: 769px)
    padding: 40px 15px

  &__breadcrumbs
    display: flex
    margin-bottom: 4px

    @media screen and (max-width: 769px)
      display: none

    .breadcrumb

      &::after
        content: '/'
        margin-left: 8px
        margin-right: 7px

      &:last-child

        &::after
          content: none
