.title
  background-color: gray_light2
  border-bottom: 1px solid #e1e1e1
  padding: 35px 0 25px

  &__breadcrumbs
    display: flex
    margin-bottom: 4px

    .breadcrumb

      &::after
        content: '/'
        margin-left: 8px
        margin-right: 7px

      &:last-child

        &::after
          content: none
