extends ../layout/index

block variables
	- var title = 'Atlas Management'
	- var pageClass = 'index'

block content
	.index__slider.slider
		.slider__prev.arrow.arrow_prev.js-index-slider-prev
		.slider__next.arrow.arrow_next.js-index-slider-next
		.slider__round
		.slider__list.js-index-slider
			.slider__item.slide(style="background-image: linear-gradient(rgba(20, 23, 32, 0.4), rgba(20, 23, 32, 0.4)), url('/static/img/content/index-slider-1.jpg')")
				.slide__heading Мы увеличиваем прибыль
				.slide__text
				.slide__btn
					a.btn.btn_green(href='#') Подробнее
			.slider__item.slide(style="background-image: linear-gradient(rgba(20, 23, 32, 0.4), rgba(20, 23, 32, 0.4)), url('/static/img/content/index-slider-1.jpg')")
				.slide__heading С нами у Вас появится свободное время
				.slide__text
				.slide__btn
					a.btn.btn_green(href='#') Подробнее
			.slider__item.slide(style="background-image: linear-gradient(rgba(20, 23, 32, 0.4), rgba(20, 23, 32, 0.4)), url('/static/img/content/index-slider-1.jpg')")
				.slide__heading Мы подключаем к автоматизированной системе продаж
				.slide__text
				.slide__btn
					a.btn.btn_green(href='#') Подробнее
			.slider__item.slide(style="background-image: linear-gradient(rgba(20, 23, 32, 0.4), rgba(20, 23, 32, 0.4)), url('/static/img/content/index-slider-1.jpg')")
				.slide__heading С нами профессионалы (есть возможность роста и развития)
				.slide__text
				.slide__btn
					a.btn.btn_green(href='#') Подробнее
			.slider__item.slide(style="background-image: linear-gradient(rgba(20, 23, 32, 0.4), rgba(20, 23, 32, 0.4)), url('/static/img/content/index-slider-1.jpg')")
				.slide__heading Предлагаем оптимальное решение вопросов по работе в сфере гостеприимства
				.slide__text
				.slide__btn
					a.btn.btn_green(href='#') Подробнее



block script
	script(src='static/js/slick.min.js')