extends ../layout/index

block variables
	- var title = 'Atlas Management'
	- var pageClass = 'index'

block content
	.index__slider.slider
		.slider__prev.arrow.arrow_prev.js-index-slider-prev
		.slider__next.arrow.arrow_next.js-index-slider-next
		.slider__round
		.slider__list.js-index-slider
			.slider__item.slide(style="background-image: linear-gradient(rgba(20, 23, 32, 0.4), rgba(20, 23, 32, 0.4)), url('/static/img/content/index-slider-1.jpg')")
				.slide__heading Отель «De la Mapa» идеальное решение для бизнеса и отдыха!
				.slide__text Отель «De la Mapa» идеальное решение для бизнеса и отдыха! Окунитесь в мир, где баланс между работой и отдыхом доведен до совершенства. Ваш комфорт – наша цель!
				.slide__btn
					a.btn.btn_green(href='#') Подробнее
			.slider__item.slide(style="background-image: linear-gradient(rgba(20, 23, 32, 0.4), rgba(20, 23, 32, 0.4)), url('/static/img/content/index-slider-1.jpg')")
				.slide__heading Отель «De la Mapa» идеальное решение для бизнеса и отдыха!
				.slide__text Отель «De la Mapa» идеальное решение для бизнеса и отдыха! Окунитесь в мир, где баланс между работой и отдыхом доведен до совершенства. Ваш комфорт – наша цель!
				.slide__btn
					a.btn.btn_green(href='#') Подробнее
			.slider__item.slide(style="background-image: linear-gradient(rgba(20, 23, 32, 0.4), rgba(20, 23, 32, 0.4)), url('/static/img/content/index-slider-1.jpg')")
				.slide__heading Отель «De la Mapa» идеальное решение для бизнеса и отдыха!
				.slide__text Отель «De la Mapa» идеальное решение для бизнеса и отдыха! Окунитесь в мир, где баланс между работой и отдыхом доведен до совершенства. Ваш комфорт – наша цель!
				.slide__btn
					a.btn.btn_green(href='#') Подробнее
			.slider__item.slide(style="background-image: linear-gradient(rgba(20, 23, 32, 0.4), rgba(20, 23, 32, 0.4)), url('/static/img/content/index-slider-1.jpg')")
				.slide__heading Отель «De la Mapa» идеальное решение для бизнеса и отдыха!
				.slide__text Отель «De la Mapa» идеальное решение для бизнеса и отдыха! Окунитесь в мир, где баланс между работой и отдыхом доведен до совершенства. Ваш комфорт – наша цель!
				.slide__btn
					a.btn.btn_green(href='#') Подробнее




block script
	script(src='static/js/slick.min.js')