extends ../layout/main

block variables
    - var title = 'Atlas Management – Владельцам'
    - var pageClass = 'owners'
    - var pageHeading = 'Владельцам'

block breadcrumbs
    .breadcrumbs__item.breadcrumb
        a(href='/') Главная
    .breadcrumbs__item.breadcrumb
        a(href='/owners.html') Владельцам

block content
    .container
        h2.owners__subheading.like-h2 Часто Владельцы пытаются у нас сначала научиться, а потом уйти и заниматься самостоятельно.
        .owners__two-columns.owners__two-columns_first
            p Но, уйдя, они быстро «угасают», так как вся операционная деятельность их не вдохновляет, начинается текучка персонала, Владельцу тяжело его найти, «рушится» сервис, прекращается возврат гостей, падают продажи, не хватает денег для операционных затрат, сокращается  штата и, как следствие, снижаются цен на проживание («тупой» демпинг).
            p Увеличивается загрузка, эта цена не приносит прибыли, увеличивается нагрузка на объект (амортизация) и на персонал (которого и так не хватает), видя все это, Владелец начинает свой отель сдавать в аренду и тем самым полностью убивать его как продукт для гостя. Как следствие, полностью с объекта уходит «постоянный гость», арендаторы меняются очень часто. Происходит снижение арендной платы ежегодно. Владелец не откладывает на ремонты, арендаторы его требуют.
        .owners__pointed.pointed.pointed_bordered Владелец разочаровывается в отельном бизнесе и начинает выставлять #[br] на продажу объект.
        .owners__two-columns.owners__two-columns_meaning
            p.like-h4 А смысл здесь один! Нужно разделять роли! Каждый занимается своим делом! Только так объект будет  надолго максимально эффективным!
            p Смысл услуги управления объектом заключается в том, что УК (управляющая компания) работает на Владельца объектом, в интересах Владельца объектом. Если зарабатывает Владелец объектом – зарабатывает и УК.
        .owners__subheading.capital-14 Смысл взаимодействия Владельца и УК заключается в разделении ролей, функций и ответственности.
        .owners__blocks.blocks
            .blocks__item.block
                .block__photo
                .block__right
                    .block__title Роль владельца
                    .block__descr Строит объекты, проводит капитальные #[br] ремонты, реконструкции
            .blocks__item.block
                .block__photo
                .block__right
                    .block__title Роль ук
                    .block__descr Ежедневная операционная деятельность #[br] по обслуживанию гостей
        h2.owners__subheading.like-h2 Услуги управляющей компании включают в себя #[br] следующие услуги управления:
        .owners__table.table
            .table__row
                .table__td Маркетингом и продажами (маркетинговая стратегия и политика, подключение к эффективным каналам продаж, включение комплекса в корпоративную рекламную компанию, подключение к централизованной системе бронирования)
                .table__td Финансами (бюджетирование, финансовое планирование, бухгалтерский и управленческий учет)
            .table__row
                .table__td Качеством (внедрение стандартов, контроль качества, рейтинг и репутация гостиницы)
                .table__td Персоналом (подбор, найм, обучение и ад аптация персонала)
            .table__row
                .table__td Эксплуатацией (техническое обслуживание объекта, IT-сопровождение, генеральный менеджер)
                .table__td
        .owners__blocks.blocks
            .blocks__item.block
                .block__photo
                .block__right
                    .block__title Функции владельца
                    .block__descr Быстро принимать решения по предлагаемым УК решениям
            .blocks__item.block
                .block__photo
                .block__right
                    .block__title Функции ук
                    .block__descr Предлагать Владельцу оптимальные, экономически эффективные решения
        .owners__two-columns.owners__two-columns_custom.two-cols
            .two-cols__item
                .two-cols__heading.like-h4 Ответственность Владельца:
                p Подготовить гостиницу к эксплуатации и укомплектовать в соответствии с заявленной услугой (звездностью)
            .two-cols__item
                .two-cols__heading.like-h4 Ответственность УК:
                p УК берет на себя ответственность по предоставлению консультаций Владельцу, руководящим сотрудникам и специалистам по операционному управлению гостиницей. #[br] Таким образом, при взаимодействии Владельца и УК каждый занимается своим делом. УК защищает интересы гостей, персонала и владельца.
        .owners__pointed.pointed.pointed_bordered Для начала взаимодействия необходимо: #[br] создать юридическое лицо, генеральным директором которого может #[br] быть либо сам Владелец, либо его доверенное лицо.
        .owners__two-columns.owners__two-columns_custom.owners__two-columns_requirements.two-cols
            .two-cols__item
                .two-cols__heading.like-h4 Требования к юр. лицу:
                p Можно открыть новое отдельное Юр. лицо для гостиницы или использовать уже существующее. Юр. лицо не должно находиться в стадии ликвидации или банкротства, иметь обременения на имущество либо незаконченные арбитражные практики, иметь сумм задолженности перед контрагентами.
            .two-cols__item
                .two-cols__heading.like-h4 Требования к объекту:
                p Гостиница должна соответствовать требованиям: пожарной безопасности, строительные конструкции – соответствовать стандартам и нормам, объект обеспечен необходимыми коммуникациями в должном объеме, права собственности закреплены соответствующей документацией, объект не должен находиться в залоге у третьих лиц
        .owners__subheading.owners__subheading_last.capital-14 Если соблюдены все требования, УК начинает работу.

    .navigation
        .container
            .navigation__prev
                a(href='/index.html')
                    span.arrow.arrow_prev.arrow_small
                    span.bold На главную

    .map.js-map(data-coordinates='44.8949655;37.3016326' data-name='Atlas Management')

block script
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCw0ZExx4pDbjpV0ByXbJuPyySTwey6v_o')




