extends ../layout/with-sidebar

block variables
    - var title = 'Atlas Management – Команда'
    - var pageHeading = 'Команда'
    - var pageClass = 'team'

block breadcrumbs
    .breadcrumbs__item.breadcrumb
        a(href='#') Главная
    .breadcrumbs__item.breadcrumb
        a(href='#') Компания

block content
    .container
        .heading
            span.like-h3 О нас
        .text
            p Фундаментом нашей компании служит команда. Для нас это не просто слово, а сплоченный, слаженный механизм. От выверенных действий каждого зависит не только эффективность работы, но и результат в целом.
        .team__pointed.pointed
            span Залогом нашего успеха служат принципы, которым мы следуем:
        .colored-heading.colored-heading_blue
            span Профессионализм
        .text
            p.sub Мы обладаем глубокими знаниями в своей области, умеем эффективно применить их на практике для достижения максимального результата. Мы постоянно обучаемся, пополняя и обогащая наш опыт.
        .colored-heading.colored-heading_green
            span Результативность
        .text
            p.sub Любая наша деятельность совершается исключительно для достижения поставленной цели. Каждый из нас несет ответственность за свой результат, т.к. от него зависит общая результативность и успех компании.
        .colored-heading.colored-heading_orange
            span Постоянный рост
        .text
            p.sub Мы чутко реагируем на все изменения рынка, меняясь и совершенствуясь для достижения поставленных целей. Мы всегда в тренде последних новшеств, внедряя самые прогрессивные технологии и методики.
        .text
            p Важную роль в достижении успеха нашей компании играет каждый сотрудник без исключения, начиная от горничной отеля и заканчивая ведущими специалистами департаментов бухгалтерии и продаж. Основа нашей команды – эксперты в своей области:
        .team__list
            .team__item
                .person
                    .person__photo(style='background: #0081cd')
                    .person__name
                        span Григор Еремян
                    .person__position
                        span Учредитель, генеральный директор
                    .person__descr
                        p Основатель и генеральный директор ATLAS Hotel management, осуществляет стратегическое руководство, участвует в проектах и отвечает за рост и развитие компании, привлечение инвестиций и расширение сфер деятельности компании.

            .team__item
                .person
                    .person__photo(style='background: #0081cd')
                    .person__name
                        span Григор Еремян
                    .person__position
                        span Учредитель, генеральный директор
                    .person__descr
                        p Основатель и генеральный директор ATLAS Hotel management, осуществляет стратегическое руководство, участвует в проектах и отвечает за рост и развитие компании, привлечение инвестиций и расширение сфер деятельности компании.

            .team__item
                .person
                    .person__photo(style='background: #0081cd')
                    .person__name
                        span Григор Еремян
                    .person__position
                        span Учредитель, генеральный директор
                    .person__descr
                        p Основатель и генеральный директор ATLAS Hotel management, осуществляет стратегическое руководство, участвует в проектах и отвечает за рост и развитие компании, привлечение инвестиций и расширение сфер деятельности компании.

            .team__item
                .person
                    .person__photo(style='background: #0081cd')
                    .person__name
                        span Григор Еремян
                    .person__position
                        span Учредитель, генеральный директор
                    .person__descr
                        p Основатель и генеральный директор ATLAS Hotel management, осуществляет стратегическое руководство, участвует в проектах и отвечает за рост и развитие компании, привлечение инвестиций и расширение сфер деятельности компании.

            .team__item
                .person
                    .person__photo(style='background: #0081cd')
                    .person__name
                        span Григор Еремян
                    .person__position
                        span Учредитель, генеральный директор
                    .person__descr
                        p Основатель и генеральный директор ATLAS Hotel management, осуществляет стратегическое руководство, участвует в проектах и отвечает за рост и развитие компании, привлечение инвестиций и расширение сфер деятельности компании.

            .team__item
                .person
                    .person__photo(style='background: #0081cd')
                    .person__name
                        span Григор Еремян
                    .person__position
                        span Учредитель, генеральный директор
                    .person__descr
                        p Основатель и генеральный директор ATLAS Hotel management, осуществляет стратегическое руководство, участвует в проектах и отвечает за рост и развитие компании, привлечение инвестиций и расширение сфер деятельности компании.

            .team__item
                .person
                    .person__photo(style='background: #0081cd')
                    .person__name
                        span Григор Еремян
                    .person__position
                        span Учредитель, генеральный директор
                    .person__descr
                        p Основатель и генеральный директор ATLAS Hotel management, осуществляет стратегическое руководство, участвует в проектах и отвечает за рост и развитие компании, привлечение инвестиций и расширение сфер деятельности компании.

            .team__item
                .person
                    .person__photo(style='background: #0081cd')
                    .person__name
                        span Григор Еремян
                    .person__position
                        span Учредитель, генеральный директор
                    .person__descr
                        p Основатель и генеральный директор ATLAS Hotel management, осуществляет стратегическое руководство, участвует в проектах и отвечает за рост и развитие компании, привлечение инвестиций и расширение сфер деятельности компании.
        .team__vacancies
            span Если вы хотите стать частью нашей команды отправьте свое резюме вместе с сопроводительным письмом на адрес: #[a(href='mailto:ann_t@atlas-hotels.ru') ann_t@atlas-hotels.ru] #[br] Узнать больше об открытых вакансиях и наших гарантиях можно здесь: #[br] #[a(href='https://anapa.hh.ru/employer/1396934') https://anapa.hh.ru/employer/1396934]
        .navigation
            .navigation__prev
                a(href='#')
                    span.arrow.arrow_prev.arrow_small
                    span.bold Назад