extends ../layout/with-sidebar

block variables
    - var title = 'Atlas Management – Команда'
    - var pageHeading = 'Команда'
    - var pageClass = 'team'
    - var parentSection = 'Компания'

block breadcrumbs
    .breadcrumbs__item.breadcrumb
        a(href='#') Главная
    .breadcrumbs__item.breadcrumb
        a(href='#') Компания

block sidebar
    .sidebar__list
        .sidebar__item
            a(href='/company.html') О компании
        .sidebar__item
            a(href='/mission.html') Миссия и ценности
        .sidebar__item.sidebar__item_active
            a(href='/team.html') Команда


block content
    .container
        .heading
            h3.like-h3 О нас
        .text
            p Фундаментом нашей компании служит команда. Для нас это не просто слово, а сплоченный, слаженный механизм. От выверенных действий каждого зависит не только эффективность работы, но и результат в целом.
        .team__pointed.pointed Залогом нашего успеха служат принципы, которым мы следуем:
        .colored-heading.colored-heading_blue Профессионализм
        .text
            p.sub Мы обладаем глубокими знаниями в своей области, умеем эффективно применить их на практике для достижения максимального результата. Мы постоянно обучаемся, пополняя и обогащая наш опыт.
        .colored-heading.colored-heading_green Результативность
        .text
            p.sub Любая наша деятельность совершается исключительно для достижения поставленной цели. Каждый из нас несет ответственность за свой результат, т.к. от него зависит общая результативность и успех компании.
        .colored-heading.colored-heading_orange Постоянный рост
        .text
            p.sub Мы чутко реагируем на все изменения рынка, меняясь и совершенствуясь для достижения поставленных целей. Мы всегда в тренде последних новшеств, внедряя самые прогрессивные технологии и методики.
        .text
            p Важную роль в достижении успеха нашей компании играет каждый сотрудник без исключения, начиная от горничной отеля и заканчивая ведущими специалистами департаментов бухгалтерии и продаж. Основа нашей команды – эксперты в своей области:
        .team__list
            .team__item
                .person
                    .person__photo(style="background-image: url('/static/img/content/team/1.jpg')")
                    .person__name Григор Еремян
                    .person__position Учредитель, генеральный директор
                    .person__descr
                        p Основатель и генеральный директор ATLAS Hotel management, осуществляет стратегическое руководство, участвует в проектах и отвечает за рост и развитие компании, привлечение инвестиций и расширение сфер деятельности компании.
            .team__item
                .person
                    .person__photo(style="background-image: url('/static/img/content/team/2.jpg')")
                    .person__name Татьяна Грибанова
                    .person__position Финансовый директор
                    .person__descr
                        p Осуществляет контроль за корпоративными финансовыми ресурсами, финансовую (управленческую) отчетность, контролирует бухгалтерские службы управляемых объектов. Татьяна Грибанова работает в сфере гостеприимства с 1996 года.
            .team__item
                .person
                    .person__photo(style="background-image: url('/static/img/content/team/5.jpg')")
                    .person__name Есения Турчанинова
                    .person__position Руководитель департамента развития бизнеса
                    .person__descr
                        p Присоединилась к команде ATLAS Hotel management в 2013 году. В сферу ее ответственности входят вопросы, связанные с развитием компании и гостиничной сети.
            .team__item
                .person
                    .person__photo(style="background-image: url('/static/img/content/team/4.jpg')")
                    .person__name Мария Васенгина
                    .person__position Руководитель департамента маркетинга и продаж
                    .person__descr
                        p Отвечает за оптимизацию стратегии продаж, за продуманные и прибыльные продукты, эффективно продающиеся и приводящие качественные лиды.
            .team__item
                .person
                    .person__photo(style="background-image: url('/static/img/content/team/3.jpg')")
                    .person__name Елена Пиняева
                    .person__position Руководитель департамента производства
                    .person__descr
                        p Имеет 25-летний стаж в сфере гостеприимства, контролирует функционирование всех отелей в сети, активно участвует в развитии и процессе производства на каждом отеле.
            .team__item
                .person
                    .person__photo(style="background-image: url('/static/img/content/team/6.jpg')")
                    .person__name Наталья Сердюк
                    .person__position Главный бухгалтер
                    .person__descr
                        p Несет ответственность за ведение бухгалтерского учета
            .team__item
                .person
                    .person__photo(style="background-image: url('/static/img/content/team/7.jpg')")
                    .person__name Золотов Александр
                    .person__position Руководитель департамента маркетинга и продаж
                    .person__descr
                        p Несет ответственность за развитие и функционирование IT-структуры всей компании.

        .team__vacancies Если вы хотите стать частью нашей команды отправьте свое резюме вместе с сопроводительным письмом на адрес: #[a(href='mailto:ann_t@atlas-hotels.ru') ann_t@atlas-hotels.ru] #[br] Узнать больше об открытых вакансиях и наших гарантиях можно здесь: #[br] #[a(href='https://anapa.hh.ru/employer/1396934') https://anapa.hh.ru/employer/1396934]

    .navigation
        .container
            .navigation__prev
                a(href='#')
                    span.arrow.arrow_prev.arrow_small
                    span.bold Назад