extends ../layout/main

block variables
    - var title = 'Atlas Management'
    - var pageClass = ''

block content
    .like-h1 UI Kit

    .like-h2 Логотип

    div(style='display: inline-block; background-color: #0081cd')
        .logo

    .like-h2 Типографика

    div
        .like-h1
            | H1 заголовок
            br
            | первого уровня
    div
        .like-h2
            | H2 заголовок
            br
            | второго уровня
    div
        .like-h3
            | H3 заголовок
            br
            | третьего уровня
    div
        .like-h4
            | Контент-заголовок
            br
            | в текстовых блоках
    div
        .capital-18
            | Контент заголовок
            br
            | 18px capital
    div
        .bold
            | Жирный для преимуществ
            br
            | и навигации
    div
        .medium
            | Выделение преимуществ
            br
            | с большим количеством текста
    div
        .capital-14
            | Контент заголовок
            br
            | 14px capital
    div
        p.main
            | Параграф, основной
            br
            | наборный
    div
        p.sub
            | Параграф, наборный
            br
            | второго уровня
    div
        .breadcrumb Хлебные ножки

    .like-h2 Элементы

    div
        a.btn Обратный звонок
        a.btn.btn_green Подробнее