// ЦВЕТА
black = #000
white = #fff

gray = #515669

gray_light = #f1f2f3 // почти белый

blue = #0081cd
blue_light = #57a5d6 // обратный звонок
blue_dark = #4769bb
blue_dark2 = #071945 // Портфолио, фиолетовый

green = #7dc855
orange = #f2720d

// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ