// ЦВЕТА
black = #000
white = #fff
gray_dark = #515669
gray_base = #878792
gray2 = #e1e1e1
gray_light = #b9c3cd
gray_light2 = #f1f2f3 // почти белый

blue_base = #0081cd
blue_light = #57a5d6 // обратный звонок
blue_light2 = #82bedc
blue_dark = #4769bb
blue_dark2 = #071945 // Портфолио, фиолетовый

green_base = #7dc855
orange_base = #f2720d

// РАЗМЕРЫ
baseFontSize = 16px
containerWidthIndex = 1140px
containerWidth = 945px

// ШРИФТЫ