.contacts

  .content
    padding-top: 0

  &__map
    margin-bottom: 76px

  &__heading
    margin-bottom: 19px

  &__text
    margin-bottom: 19px

    p
      font-size: 14px
      line-height: 26px

  &__socials
    margin-bottom: 29px
    padding-bottom: 23px
    border-bottom 1px solid gray2

  &__photo-data
    display: flex
    justify-content: space-between
    padding-bottom: 30px
    margin-bottom: 30px
    border-bottom: 1px solid gray2

  &__photo
    width: 455px;
    flex-shrink: 0;

  &__data
    width: 50%
    padding-top: 45px
    padding-left: 14px

    .like-h4
      margin-bottom: 34px

    .item
      
      &_address
        width: 100%
        margin-bottom: 34px

        .item__title::before
          background-image: url('../img/general/contacts-address-green.png')
          width: 11px
          height: 16px

      &_email
        width: 196px

        .item__title::before
          background-image: url('../img/general/contacts-phone-green.png')
          width: 16px
          height: 16px

      &_phone

        .item__title::before
          background-image: url('../img/general/contacts-phone-green.png')
          width: 16px
          height: 16px


      &__title
        margin-bottom: 13px

        color: blue_base
        font-size: 16px
        font-weight: 700

        &::before
          content: ''
          display: inline-block
          margin-right: 20px
          background-size: 100%
          background-repeat: no-repeat

      &__value
        font-size: 14px
        color: gray_dark

  &__list
    display: flex
    flex-wrap: wrap

  &__form
    flex-shrink: 0;


  &__descr-form
    display: flex
    align-items: flex-start
    margin-bottom: 60px

  &__descr
    padding-top: 40px
    padding-right: 138px