.index

  .slide
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 760px
    background-repeat: no-repeat
    background-size: cover
    background-position: center center

    &__heading
      width: 945px
      margin-bottom: 60px

      font-family: 'Muller Bold'
      font-size: 48px
      color: white
      text-align: center

    &__text
      width: 848px
      margin-bottom: 60px

      font-size: 18px
      line-height: 28px
      color: white
      text-align: center

  .slider
    position: relative

    .slick-arrow
      display: none !important

    &__prev
      position: absolute
      top: 50%
      left: "calc((100% - %s) / 2)" % containerWidth
      transform: translate(-100%, -50%)
      z-index: 2

    &__next
      position: absolute
      top: 50%
      right: "calc((100% - %s) / 2)" % containerWidth
      transform: translate(100%, -50%)
      z-index: 2
      
    &__round
      width: 100%
      height: 100%
      position: absolute
      z-index: 2
      pointer-events none
      background-image: url('../img/svg/index-slider-round.svg')
      background-repeat no-repeat
      background-position center center
      background-size 1190px

