.portfolio

  &__heading
    margin-bottom: 18px

  &__text
    margin-bottom: 92px

    p
      font-size: 14px
      line-height: 27px

  &__list
    display: flex
    flex-wrap: wrap
    margin-bottom: 88px

  &__item
    width: 360px
    margin-right: 30px
    margin-bottom: 30px

    &:nth-child(3n)
      margin-right: 0

    .hotel

      &__photo
        height: 250px
        margin-bottom: 24px
        background-repeat: no-repeat
        background-size cover
        background-position center center

      &__name
        margin-bottom: 18px

        @extend .like-h4

      &__descr
        height: 80px
        overflow: hidden
        margin-bottom: 19px

        font-size: 14px
        line-height: 26px
        color: gray_base

      &__link
        display: flex
        align-items: center
        border-top: 1px solid #eaeaea
        border-bottom: 1px solid #eaeaea
        padding: 10px 0

        font-family: 'Muller Bold'
        font-size: 14px
        color: blue_base

        .arrow
          margin-left: 50px
          background-color: blue_base