.services

  &__heading
    margin-bottom: 53px

  &__list
    display: flex
    flex-wrap: wrap
    margin-bottom: 13px

  .service
    display: flex
    flex-direction: column
    justify-content: space-between
    width: calc(50% - 20px)
    height: 240px
    padding: 35px 40px 40px
    margin-right: 40px
    background-color: blue_base
    margin-bottom: 40px

    @extend .body .capital-14
    line-height: 26px
    letter-spacing: .5px
    color: white

    &:nth-child(even)
      margin-right: 0

    &__arrow
      @extend .body .arrow_white

    &_inactive
      background-color: gray_light2
      color: gray_light

      .arrow
        @extend .body .arrow_gray


  &__text
    margin-bottom: 111px

    p
      line-height: 32px

    .bold
      font-size: inherit
      line-height: inherit

.services-management

  &__heading
    margin-bottom: 35px

  &__list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
    margin-bottom: 33px

  &__item
    width: 457px

    .item

      &__opener
        position: relative
        display: flex
        justify-content: space-between
        border-top: 2px solid gray_light2
        border-bottom: 2px solid gray_light2
        margin-bottom: 20px
        padding: 28px 40px 26px
        align-items: center

        @extend .body .capital-14

        &:hover
          border-top-color: #e1e1e1
          border-bottom-color: #e1e1e1
          background-color: gray_light2

          i
            background-color: blue_base
            background-image: url('../img/svg/arrow-down-white.svg')

            &::before, &::after
              background-color: white

        &_opened
          background-color: gray_light2

          i
            background-image: url('../img/general/x-white.png')
            
          &:hover
            
            i
              background-image: url('../img/general/x-white.png')

      &__popup
        display: none
        border: 1px solid gray_light2
        position: relative
        top: -9px
        padding: 36px
        margin-bottom: 20px

        &::after
          content: ''
          width: 16px
          height: 16px
          position: absolute
          top: -9px
          left: 50%
          display: block
          border-top: 1px solid gray_light2
          border-right: 1px solid gray_light2
          transform: rotate(-45deg)
          background-color: white



    i
      position: relative
      display: block
      width: 32px
      height: 32px
      border: 1px solid gray_light2
      border-radius: 50%
      background-image: url('../img/svg/arrow-down-blue.svg')
      background-position: center center
      background-repeat no-repeat


  .results
    margin-bottom: 53px
    display: flex
    flex-wrap: wrap

    &__item
      width: 50%
      margin-bottom: 35px
      display: flex
      justify-content: flex-start
      align-items: center

      font-size: 16px
      line-height: 30px
      color: gray_dark
      @extend .body .medium

      img
        margin-right: 20px

  .tools

    &__list
      @extend .company__reasons .reasons__list

      margin-bottom: 28px

    &__item
      @extend .company__reasons .reasons__item

  .diagram
    display: flex
    margin-bottom: 120px

    &__left
      padding-top: 46px

    &__heading
      padding-right: 10px
      margin-bottom: 23px

    &__text

      p
        font-size: 16px
        line-height: 26px

    &__image
      margin-left: 30px
      flex-shrink: 0
