.services

  &__heading
    margin-bottom: 53px

  &__list
    display: flex
    margin-bottom: 53px

  .service
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 293px
    height: 240px
    padding: 35px 40px 40px
    margin-right: 41px
    background-color: blue_base

    @extend .capital-14
    line-height: 26px
    letter-spacing: .5px
    color: white

    &:last-child
      margin-right: 0

    &__arrow
      @extend .arrow_white

    &_inactive
      background-color: gray_light2
      color: gray_light
      margin-right: 25px

      .arrow
        @extend .arrow_gray


  &__text
    margin-bottom: 111px

    p
      line-height: 32px

    .bold
      font-size: inherit
      line-height: inherit

