.team

  &__pointed
    margin-bottom: 60px

  &__list
    display: flex
    flex-wrap: wrap
    margin-bottom: 20px

  &__item
    margin-right: 33px
    margin-bottom: 60px

    &:nth-child(3n)
      margin-right: 0

  .person
    width: 290px

    &__photo
      height: 328px
      margin-bottom: 28px
      background-size: cover
      background-position: center
      background-repeat: no-repeat

    &__name
      margin-bottom: 8px

      color: #424655
      font-weight: 700
      font-size: 18px

    &__position
      margin-bottom: 24px

      font-weight: 500
      font-size: 14px
      color: #626571

    &__descr p
      font-size: 14px
      line-height: 26px

  &__vacancies
    padding: 40px 67px
    margin-bottom: 80px
    background-color: gray_light2
    border-left: 5px solid blue_base

    font-size: 16px
    line-height: 30px
    color: gray_dark

    a
      color blue_base
      text-decoration: underline